@import "styles/variables";
@import "styles/mixins";

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $colorHighlightDark;
}

.icon {
  width: 8.2rem;
  fill: $colorLightest;
}
