@import "styles/variables";
@import "styles/mixins";

.wrapper {
  display: grid;
  grid-template-columns: 4.5rem 1fr;
  grid-gap: 0.8rem 1.2rem;
}

.avatar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.name {
  @include regular($colorRegular, 700);

  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: 0;
}

.social {
  grid-column: 2 / 3;
  margin-left: auto;
}
