@import "styles/variables";
@import "styles/mixins";

.wrapper {
  .button {
    @include tableCell($colorHighlightDark);
  }

  .content {
    margin-top: 1.7rem;
  }

  .link {
    display: block;
    height: 100%;
    transition-duration: $transitionDuration;

    &:hover {
      box-shadow: 0.2rem 0.2rem 1.5rem $colorShadowRegular;
    }
  }
}
