@import "../../../styles/variables";
@import "../../../styles/mixins";

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: $colorLightest;
  box-shadow: 0.2rem 0.2rem 0.8rem $colorShadowRegular;
  opacity: 0;
  pointer-events: none;

  span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -0.7rem;
    left: calc(50% - 0.6rem / 2);
    border-top: 0.8rem solid $colorLightest;
    border-left: 0.6rem solid transparent;
    border-right: 0.6rem solid transparent;
  }
}

.wrapperVisible {
  opacity: 1;
}
