@import "styles/variables";
@import "styles/mixins";

.wrapper {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 1rem $colorShadowRegular;
  overflow: hidden;
}

.table {
  & > *::-webkit-scrollbar-button {
    display: none;
  }

  & > *::-webkit-scrollbar {
    width: 0.5rem;
  }

  & > *::-webkit-scrollbar-thumb {
    background-color: $colorBgSidebarActive;
  }
}

.rowClickable {
  cursor: pointer;
}
