@import "../../../styles/variables";
@import "../../../styles/mixins";

.button {
  @include resetButton;
  @include h3(400);

  position: relative;
  padding-right: 2rem;
  padding-left: 2rem;
  width: fit-content;
  transition-duration: $transitionDuration;
}

.buttonFilled {
  color: $colorLightest;
  background-color: $colorHighlightDark;
  border: 1px solid $colorHighlightDark;

  &:hover {
    color: $colorRegular;
    background-color: $colorHighlightDarkTransparent;
    border-color: $colorHighlightDarkTransparent;

    .icon {
      fill: $colorFontLightest;
    }
  }

  &.buttonDisabled {
    color: $colorFontItemPassive;
    background-color: $colorBgTabs;
    border-color: $colorBgTabs;
  }
}

.buttonBordered {
  background-color: transparent;
  border: 1px solid $colorHighlightDark;

  &:hover {
    border-color: $colorHighlightDarkTransparent;
  }

  &.buttonDisabled {
    color: $colorFontItemPassive;
    border-color: $colorBgSidebar;
  }
}

.buttonText {
  color: $colorRegularLightest;
  padding: 0;

  &:hover {
    color: $colorRegular;

    svg {
      fill: $colorRegular;
    }
  }

  &.buttonDisabled {
    opacity: 0.5;
  }
}

.buttonTextBold {
  @include tableCell($colorHighlightDark, 500);

  padding: 0;

  &:hover {
    color: $colorHighlightConfirm;
  }
}

.buttonRegular {
  min-height: 4rem;
  border-radius: 2rem;
}

.buttonLarge {
  min-height: 5rem;
  border-radius: 2.5rem;
}

.buttonSmall {
  min-height: 3.6rem;
  border-radius: 2rem;
}

.buttonLoading {
  pointer-events: none;
}

.buttonDisabled {
  pointer-events: none;
  cursor: inherit;
  background-color: transparent;
}

.icon {
  --spinner-size: 2rem;
  position: absolute;
  top: calc(50% - var(--spinner-size) / 2);
  right: 1.5rem;
  width: var(--spinner-size);
  fill: $colorFontDarkest;
}
