@import "styles/variables";
@import "styles/mixins";

.link {
  @include chartLink($colorHighlightDark);

  text-decoration: underline;
  transition-duration: $transitionDuration;

  &:hover {
    text-decoration: none;
  }
}

.linkStrong {
  @include strong($colorHighlightDark);

  text-decoration: none;
}
