@import "styles/variables";
@import "styles/mixins";

.wrapper {
  padding-top: 1rem;
  width: 100%;

  path {
    stroke: none;
  }

  :global {
    .recharts-label {
      @include highlight;

      fill: $colorLightest;
    }

    .recharts-legend-item-text {
      color: $colorRegular !important;
    }

    .recharts-pie-label-text {
      fill: red !important;
    }
  }

  .label {
    @include highlight;

    fill: $colorHighlightDark;
  }

  .labelLight {
    fill: $colorHighlightDarkMedium;
  }
}
