.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.columnsBuildings {
  grid-template-columns:
    calc(412 / 1080 * 100%)
    calc(161 / 1080 * 100%)
    calc(450 / 1080 * 100%)
    1fr;
}

.columnsInfo {
  grid-template-columns:
    calc(216 / 1080 * 100%)
    calc(810 / 1080 * 100%)
    1fr;
}
